mixed-port: 7890
allow-lan: false
mode: rule
log-level: info
ipv6: true
proxies:
  {{ OBOARD_PROXIES_YAML }}
proxy-groups:
  {{ OBOARD_PROXY_GROUPS_YAML }}
rules:
  - MATCH,{{ OBOARD_PRIMARY_GROUP }}
