{
  "log": {
    "level": "warn"
  },
  "dns": {
    "servers": [
      {
        "type": "https",
        "tag": "remote-primary",
        "server": "cloudflare-dns.com",
        "server_port": 443,
        "path": "/dns-query",
        "tls": {
          "server_name": "cloudflare-dns.com"
        },
        "domain_resolver": "bootstrap-primary"
      },
      {
        "type": "udp",
        "tag": "bootstrap-primary",
        "server": "1.1.1.1",
        "server_port": 53
      },
      {
        "type": "local",
        "tag": "local"
      }
    ],
    "final": "remote-primary",
    "strategy": "prefer_ipv4"
  },
  "inbounds": [],
  "outbounds": {{ OBOARD_OUTBOUNDS_JSON }},
  "route": {
    "rules": {{ OBOARD_ROUTE_RULES_JSON }},
    "final": "direct"
  }
}
